.formCreateTask {
    width: 80%;
    max-width: none;
    padding-top: 30px;
}

.inputName {
    width: 50%;
}

.inputText {
    height: 472px;
    width: 100%;
    overflow: auto;
    resize: vertical;
}