.formCreateTask {
  width: 80%;
  max-width: none;
  padding-top: 30px;
}

.inputName {
  width: 50%;
}

.inputText {
  height: 472px;
  width: 100%;
  overflow: auto;
  resize: vertical;
}

.editor {
  width: 100%;
  min-height: 400px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  outline: none;
  border: 1px solid #835e7e;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: rgb(105, 27, 75);
  text-align: left;
  display: flex;
}

.editor :global(.tiptap.ProseMirror:focus) {
  outline: none;
}

.editor :global(.tiptap.ProseMirror) {
  flex: 1;
  z-index: 0;
}

