.mainMyTasks {
    display: flex;
    padding-bottom: 0;
}

.tasksContainer {
    padding: 20px 0;
    width: 20%;
    border-right: 3px solid rgb(223, 163, 196);
}

.firstTaskContainer {
    width: 80%;
}