.mainMyTasks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
}

.friendsInput {
  width: 50%;
}

.friendUsercards {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 10px;
}

.infoContainerfriend {
  grid-template-columns: 1fr 1fr;
}

.button {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgb(83, 12, 92);
  border: 1px solid #835e7e;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.imgLeft {
  transform: rotate(270deg);
}

.imgRight {
  transform: rotate(90deg);
}